<div id = "view-tournament">
  <h3>
      <span>
         {{tournament?.name}}
      </span>
  </h3>
  <div class="card-body">
   <div class="float-center btn-group btn-group-sm">
      <a (click)="onOpenModal(tournament, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit" title="Edit"><i class="fa fa-pencil"></i> </a>
      <a (click)="onOpenModal(tournament, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete" title="Delete"><i class="fa fa-times"></i></a>
   </div>
 </div>
</div>
   
<div>
   <button id="back-btn" type="button" class="btn btn-primary" (click)="goToList()">Inapoi</button>
</div>

  

<!--Edit Modal-->

<div class="modal fade" id="updateTournamentModal" tabindex="-1" role="dialog" aria-labelledby="tournamentEditModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="tournamentEditModalLabel">Edit Tournament {{editTournament?.name}}</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <form #editForm="ngForm">
              <div class="form-group">
                 <label for="name">Denumire</label>
                 <input type="text" ngModel="{{editTournament?.name}}" name="name" class="form-control" id="name">
                </div>
                <input type="hidden" ngModel="{{editTournament?.id}}" name="id" class="form-control" id="id">
                 <div class="modal-footer" id="edit-btn">
                  <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
                  <button (click)="onUpdateTournament(editForm.value)" data-dismiss="modal" class="btn btn-primary">Save</button>
               </div>
               </form>
        </div>
     </div>
  </div>
</div>

 <!-- Delete Modal -->
   
 <div class="modal fade" id="deleteTournamentModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="deleteModelLabel">Delete Tournament</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body" id="del-btn">
           <p>Are you sure you want to delete tournament "{{deleteTournament?.name}}"?</p>
           <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              <button (click)="onDeleteTournament(deleteTournament?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
           </div>
        </div>
     </div>
  </div>
</div>

<div class="button">
  <button type="button" id="view-add-btn" (click)="onOpenGameModal(null!, 'add')">Adauga meci 
     <span class="sr-only">(current)</span>
  </button>
</div>

<!-- Add Game Modal -->

<div class="modal fade" id="addGameModal" tabindex="-1" role="dialog" aria-labelledby="addGameModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title" id="addGameModalLabel">Adauga Meci</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddGame(tournament.id, addForm)">
            <div class="form-group">
              <label for="date">Data Meciului</label>
              <input type="text" ngModel name="date" class="form-control"
               id="date" required>
           </div>
           <div class="form-group">
            <label for="location">Locatie</label>
            <input type="text" ngModel name="location" class="form-control"
             id="location" required>
         </div>
         <div class="form-group">
          <label for="homeTeam">Gazda</label>
          <input type="text" ngModel name="homeTeam" class="form-control"
           id="gomeTeam" required>
       </div>
       <div class="form-group">
        <label for="awayTeam">Oaspeti</label>
        <input type="text" ngModel name="awayTeam" class="form-control"
         id="awayTeam" required>
     </div>
   <div class="form-group">
    <label for="referee">Arbitru Central</label>
    <input type="text" ngModel name="referee" class="form-control"
     id="referee" required>
 </div>
          <div class="modal-footer">
             <button type="button" id="add-game-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
             <button [disabled]="addForm.invalid" id="add-game" type="submit" class="btn btn-primary" >Adauga</button>
          </div>
          </form>
       </div>
    </div>
  </div>
  </div>

  <!-- List of games -->
  <div class="gamelist-parent">
     <div class="gamelist-child">
  <div *ngFor="let game of games" class="game-list">
      <h6 (click)="goToViewGame(game?.id)" class="gamelist-name">
         <span>{{game?.homeTeam}} 
            v.
               {{game?.awayTeam}}</span>
      </h6>
      <span class="gamelist-score">Scor: {{game?.score}}</span>
     </div>
    </div>
   </div>


  <!-- Notification for no games in a tournament -->
  
  <div *ngIf="games?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
   <div class="alert alert-info" role="alert">
     <p>Nu exista inca meciuri inregistrate pentru acest campionat.</p>
   </div>
   </div>

