
<head>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
   <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.2/toastr.css" rel="stylesheet"/>
   </head>
<div class="add-btn"v id="btn-container">
    <button type="button" (click)="onOpenModal(null!, 'add')">Add player 
       <span class="sr-only">(current)</span>
    </button>
  </div>
<header class="showcase">
    <div class="container showcase-inner">
        <h1>Titlu</h1>
    <div class="menu-wrap">
        <input type="checkbox" class="toggler">
        <div class="hamburger"><div></div></div>
        <div class="menu">
            <div>
                <div>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a routerLink="/tournament">Competitions</a></li>
                        <li><a routerLink="/senior">Seniors</a></li>
                        <li><a routerLink="/junior">Juniors</a></li>
                        <li><a href="/">Staff</a></li>
                        <li><a href="/">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
       <div class="login-btn">
           <div>
               <a routerLink="/login">
            Login</a>
           </div>
       </div>
       <div class="logout-btn">
          <a routerLink="/logout">Logout</a>
       </div>
    </div>
</header>

<!-- Add Player Modal -->

<div class="modal fade" id="addPlayerModal" tabindex="-1" role="dialog" aria-labelledby="addPlayerModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="addPlayerModalLabel">Add Player</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body was-validated">
            <form #addForm="ngForm" (ngSubmit)="onAddPlayer(addForm)">
            <div class="form-group">
               <label for="name">Name</label>
               <input type="text" ngModel name="name" #name="ngModel"  class="form-control"
                id="name" required>
            </div>
            <div class="form-group">
               <label for="position">Position</label>
               <input type="text" ngModel name="position" class="form-control" id="position" required>
            </div>
            <div class="form-group">
               <label for="foot">Foot</label>
               <input type="text" ngModel name="foot" class="form-control" id="foot" required>
            </div>
            <div class="form-group">
               <label for="shirtNumber">Shirt Number</label>
               <input type="number" ngModel name="shirtNumber" class="form-control" id="shirtNumber" required>
            </div>
            <div class="form-group">
               <label for="dateOfBirth">Date Of Birth</label>
               <input type="date" ngModel name="dateOfBirth" class="form-control" id="dateOfBirth" required>
            </div>
            <div class="form-group">
               <label for="senior">Choose: </label>
               <select class="custom-select"  ngModel name="senior" id="senior" required>
                <option [ngValue]="true">Senior</option>
                <option [ngValue]="false">Junior</option>
              </select>
            </div>
            <div class="modal-footer">
               <button type="button" id="add-player-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button [disabled]="addForm.invalid" id="add-player" type="submit" class="btn btn-primary">Add</button>
            </div>
            </form>
         </div>
      </div>
    </div>
    </div>