
<header class="showcase">
    <div class="container showcase-inner">
        <h1>Unirea Padina</h1>
    <div class="menu-wrap">
        <input type="checkbox" class="toggler">
        <div class="hamburger"><div></div></div>
        <div class="menu">
            <div>
                <div>
                    <ul>
                        <li><a href="/">Acasa</a></li>
                        <li><a routerLink="/senior">Seniori</a></li>
                        <li><a routerLink="/junior">Juniori</a></li>
                        <li><a href="/">Staff</a></li>
                        <li><a href="/">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
       <div class="login-btn">
           <div>
               <a routerLink="/login">
            Login</a>
           </div>
       </div>
       <div class="logout-btn">
          <a routerLink="/logout">Logout</a>
       </div>
    </div>
</header>