<div class="junior-container" id="main-container">
   <div *ngFor="let junior of juniors$">
      <div class="main-div">
               <h2>{{junior?.shirtNumber}}</h2>
               <h5 id="view-junior">{{junior?.name}}</h5>
         <div class="card-body">
            <div class="float-right btn-group btn-group-sm">
               <a (click)="onOpenModal(junior, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit" title="Edit"><i class="fa fa-pencil"></i> </a>
               <a (click)="onOpenModal(junior, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete" title="Delete"><i class="fa fa-times"></i></a>
            </div>
         </div>
         <button class="details-btn" (click)="goToViewPlayer(junior?.id)">Details</button>
         </div>
      </div>
   </div>


    <!--Edit modal-->
    <div class="modal fade" id="updateJuniorModal" tabindex="-1" role="dialog" aria-labelledby="juniorEditModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="juniorEditModalLabel">Edit Junior - {{editJunior?.name}}</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <form #editForm="ngForm">
                  <div class="form-group">
                     <label for="name">Name</label>
                     <input type="text" ngModel="{{editJunior?.name}}" name="name" class="form-control" id="name">
                  </div>
                  <input type="hidden" ngModel="{{editJunior?.id}}" name="id" class="form-control" id="id">
                  <div class="form-group">
                     <label for="position">Position </label>
                     <input type="text" ngModel="{{editJunior?.position}}" name="position" class="form-control" id="position">
                  </div>
                  <div class="form-group">
                     <label for="foot">Foot</label>
                     <input type="text" ngModel="{{editJunior?.foot}}" name="foot" class="form-control" id="foot">
                  </div>
                  <div class="form-group">
                     <label for="goals">Goals</label>
                     <input type="number" ngModel="{{editJunior?.goals}}" name="goals" class="form-control" id="goals">
                  </div>
                  <div class="form-group">
                     <label for="shirtNumber">Shirt Number</label>
                     <input type="number" ngModel="{{editJunior?.shirtNumber}}" name="shirtNumber" class="form-control" id="shirtNumber">
                  </div>
                  <div class="form-group">
                     <label for="dateOfBirth">Foot</label>
                     <input type="date" ngModel="{{editJunior?.dateOfBirth}}" name="dateOfBirth" class="form-control" id="dateOfBirth">
                  </div>
                  <div class="form-group">
              <label for="senior">Choose: </label>
              <select class="form-control"  ngModel name="senior" id="senior">
               <option [ngValue]="true">Senior</option>
               <option [ngValue]="false">Junior</option>
             </select>
           </div>
                  <div class="modal-footer">
                     <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                     <button (click)="onUpdatePlayer(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
    </div>

    <!--Delete modal-->
    <div class="modal fade" id="deleteJuniorModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="deleteModelLabel">Delete Player</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <p>Are you sure you want to delete player {{deleteJunior?.name}}?</p>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                  <button (click)="onDeletePlayer(deleteJunior?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
               </div>
            </div>
         </div>
      </div>
    </div>

    <!-- Notification for no players-->

 <div *ngIf="juniors$?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
   <div class="alert alert-info" role="alert">
     <h4 class="alert-heading">NO PLAYERS!</h4>
     <p>No players were found.</p>
   </div>
   </div>
   
